body {
	font-family: "Calibri";
  margin: 0px;
}
.Cabeçalho {
  background-color: aliceblue;
  padding: 8px;
}
button {
	margin-left: 16px;
}

body > .Contêiner {
  margin-top: 8px;
}

.Expansível {
	cursor: pointer;
}
.Conjunto.Expansível::before {
	content: '▸';
	margin-left: -1em;
}
.Conjunto.Expandido::before {
	content: '▾';
	margin-left: -1em;
}
.Comentado.Expansível::after {
  content: '✽';
  font-size: xx-small;
  vertical-align: top;
}
.Comentado.Expandido::after {
  content: '✽';
  font-size: xx-small;
  vertical-align: super;
}
.Contêiner {
  border-left-width: 1px;
  border-left-style: dotted;
  padding-left: 1em;
}
.Referência {
  margin-left: 3em;
  border-left: solid;
  border-left-width: 1px;
  border-left-color: cornflowerblue;
  font-size: small;
}
.Aresta {
  display: inline-block;
  padding-right: .5em;
  padding-left: .5em; 
  vertical-align: top;
  font-weight: bold;
  background: aliceblue;
}
.Aresta, .Nodo, .Contêiner {
  min-height: 1.2em;
  min-width: 1em;
}
.Aresta:empty, .Nodo:empty, .Contêiner:empty {
  background: aliceblue;
}
.Referência > .Contêiner {
  display: inline-block;
}
[contenteditable=true] {
	background: aliceblue;	
}
[data-selecting=true] .Nodo:hover{
  background-color: darkseagreen;
}
#novo_nodo {
    display: inline;
    margin: 8px;
    padding-left: 4px;
    padding-right: 4px;
    border: solid;
    border-color: cadetblue;
    border-width: 2px;
}

/*++Contêiner[+]+--------------------------------+
  |                                              |
  | ++Nodo[1]+-------------------------------+   |
  | |                                        |   |
  | +----------------------------------------+   |
  |                                              |
  |  +-Referências[1]--------------------------+ |
  |  | +-Referência[*]+----------------------+ | |
  |  | |                                     | | |
  |  | | ++Aresta[1]+--+  ++Contêiner[1]+--+ | | |
  |  | | |             |  |                | | | |
  |  | | +-------------+  +----------------+ | | |
  |  | |                                     | | |
  |  | +-------------------------------------+ | |
  |  +-----------------------------------------+ |
  |                                              |
  |  +-Conteúdo[1]-----------------------------+ |
  |  | +-Contêiner[*]+-----------------------+ | |
  |  | |                                     | | |
  |  | |                                     | | |
  |  | +-------------------------------------+ | |
  |  +-----------------------------------------+ |
  |                                              |
  +----------------------------------------------+*/