body {
	font-family: "Calibri";
  margin: 0px;
}
.Cabeçalho {
  background-color: aliceblue;
  padding: 8px;
  min-height: 40px;
  box-sizing: border-box;
}
button {
	margin-left: 16px;
}

.Painel {
  padding-left: 1em;
  padding-right: 1em;
  scroll-behavior: auto;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
}

.Expansível, .Expandido {
	cursor: pointer;
}
.Expansível > .Data::before {
	content: '▸';
	margin-left: -.8em;
}
.Expandido::before {
	content: '▾';
	margin-left: -.8em;
}
[data-nodo] {
  border-left-width: 1px;
  border-left-style: dotted;
  padding-left: 1em;
  min-height: 1.2em;
  min-width: 1em;
}
.Data:empty {
  background: aliceblue;
}
[data-selecting=true] [data-nodo]:hover{
  background-color: darkorange;
}

/*++Nodo[+]+-------------------------------------+
  |                                              |
  | ++Data[1]+-------------------------------+   |
  | |                                        |   |
  | +----------------------------------------+   |
  |                                              |
  |   +-Nodo[*]+-----------------------------+   |
  |   |                                      |   |
  |   |                                      |   |
  |   +--------------------------------------+   |
  |                                              |
  +----------------------------------------------+*/